#about {
    padding: var(--card-gap-mobile) 0;
    @media screen and (hover) {
        padding: var(--card-gap-desktop) 0;
    }        
}
    
.text-contents {
    position: relative;
    width: 90vw;
    margin: 0 auto;
    @media screen and (hover) {
        width: min(35rem, 80vw);
    }
}

.text-contents h2 {
    padding-top: var(--card-gap-desktop);
}

.text-contents h2, .text-contents p {
    margin-bottom: 1.5rem;
    line-height: 1.5em;
}