.add-record-btn {
    background-color: var(--bkgd);
    color: inherit;
    border: 4px solid var(--card-border);
    border-radius: 3rem;
    margin: 1rem auto;    /* Might not need this line after setting up Header css */
    padding: 0.5rem 3rem;
}

.mobile-add-record {
    outline: 1rem solid black;
}