:root {
    --card-padding-mobile: 5vmin;
    --card-padding-desktop: 1.5rem;
    --card-gap-mobile: 8vmin;
    --card-gap-desktop: 3rem;
}

* {
    margin: 0;
    padding: 0;
}

body {
    position: relative;
    overflow-x: hidden;
    font-family: "Verdana", sans-serif;
}

main {
    position: relative;
    padding: calc(var(--card-gap-mobile) * 2) 0;
    @media screen and (hover) {
        padding: calc(var(--card-gap-desktop) * 2) 0;
    }
}

h1, h2 {
    font-family: "Faculty Glyphic", serif;

}

a {
    /* color: var(--link); */
    /* background-color: var(--link-bkgd); */
    width: max-content;
}
/* a:visited {
    color: var(--link-visited);
    background-color: var(--link-visited-bkgd);
}
a:hover {
    color: var(--link-hover);
    background-color: var(--link-hover-bkgd);
}
a:active {
    color: var(--link-active);
    background-color: var(--link-active-bkgd);
} */


button, .collapse-btn {
    margin: 1rem auto;    /* Might not need this line after setting up Header css */
    padding: 0.5rem 2rem;
    text-align: center;
    font-size: 1rem;
    /* background-color: var(--button); */
    border: none;
    /* color: var(--button-text); */
    /* box-shadow: 0.3rem 0.3rem 0 var(--button-border); */
    border-radius: 3rem;
}

/* @media screen and (hover) {
    button:hover, .collapse-btn:hover {
        background-color: var(--button-hover);
        box-shadow: 0.3rem 0.3rem 0 var(--button-border-hover);
        color: var(--button-hover-text);
    }
    button:active, .collapse-btn:active {
        background-color: var(--button-active);
        box-shadow: 0.3rem 0.3rem 0 var(--button-border-active);
        color: var(--button-active-text);
    }
} */

    /* .color-bkgd {
        background-color: var(--bkgd);
    } */

    /* .earthy, .neon {
        .border-radius-1 {border-radius: 1rem;}
        .border-radius-2 {border-radius: 2rem;}
        .border-radius-3, button, .collapse-btn {
            border-radius: 10vmin;
            @media screen and (hover) {
                border-radius: 3rem;
            }
        }
        .border-radius-4 {border-radius: 4rem;}
    }
    .nightsky {
        .border-radius-1, .border-radius-2, .border-radius-3, .border-radius-4 {border-radius: 0;}
    } */

.cursor-pointer {
    cursor: pointer;
}

/* ~~~~~~~~~~  From other stylesheets  ~~~~~~~~~~~~~~~~~~~ */

/* Header.css */

header {
    /* background-color: var(--bkgd); */
    /* border-bottom: 3px solid var(--border-header-footer); */
    /* padding: var(--card-gap-mobile) 0; */
    @media screen and (hover) {
        /* padding: 0 0 var(--card-gap-desktop) 0; */
    }
}

#sortOptions option:first-child {
    color: grey;
}

h1 {
    text-align: center;
    font-size: 15vmin;
    line-height: 14vmin;
    @media screen and (hover: none) {
        span:last-child {
            line-height: 20vmin;
        }    
        padding: var(--card-gap-mobile) 0;
    }
    @media screen and (hover) {
        font-size: 4rem;
        line-height: 4rem;
        padding: var(--card-gap-desktop);
    }
}

.header-contents {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--card-gap-mobile);
    padding-bottom: var(--card-gap-mobile);
    @media screen and (hover) {
        gap: var(--card-gap-desktop);
        padding-bottom: var(--card-gap-desktop);
    }
}

.sort-wrapper label, .sort-wrapper button {
    width: max-content;
    margin: 0;
}

.sort-wrapper {
    display: flex;
    flex-direction: column;
    gap: 5vmin;
    justify-content: center;
    align-items: center;
    padding: 0.5rem 1.5rem;
    /* border: 1px solid var(--text-h2); */
    /* border-radius: 2rem; */
    width: max-content;
    @media screen and (hover) {
        flex-direction: row;
        gap: min(2rem, 2vw);
    }
}
.dropdowns-wrapper {
    display: flex;
    gap: 5vmin;
    @media screen and (hover) {
        gap: min(2rem, 2vw);
    }
}

select {
    padding: 0.5rem;
    /* background-color: var(--input); */
}

/* Footer.css */

footer {
    /* margin: 4rem auto; */
    margin: 0 auto;
    padding: var(--card-gap-mobile) 0 40vmin 0;
    text-align: center;
    /* background-color: var(--bkgd); */
    /* border-top: 2px solid var(--border-header-footer); */
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--card-padding-mobile);
    @media screen and (hover) {
        /* margin: 6rem auto 0 auto; */
        padding: 2rem 0 4rem 0;
        gap: var(--card-padding-desktop);
    }
    @media screen and (min-width: 786px) {
        /* flex-direction: row; */
    }
}

footer a > img, footer a > div {
    text-decoration: none;
}

.logo-110 {
    height: 1.5rem;
    width: 100vw;
    background-image: url(../assets/logo_landing.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0 auto;
    padding: 0;
    @media screen and (min-width: 786px) {
        width: 10rem;
    }
}



/* Cards.css */

.cards-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    @media screen and (hover: none) {
        align-items: center;
        flex-direction: column;
        gap: var(--card-gap-mobile);
        /* padding-top: var(--card-gap-mobile); */
    }
    @media screen and (hover) {
        align-items: flex-start;
        /* padding-top: var(--card-gap-desktop); */
        gap: var(--card-gap-desktop);
    }
}

article.card {
    overflow: hidden;
    position: relative;
    width: 80vmin;
    /* background-color: var(--card-bkgd); */
    /* border-radius: 10vmin; */
    /* border: 0.5rem solid var(--card-border); */
    padding: var(--card-padding-mobile);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* box-shadow: 0.5rem 0.5rem 0 var(--card-border-shadow); */
    @media screen and (hover) {
        width: 24rem;
        padding: var(--card-padding-desktop);   
        /* border-radius: 3rem;      */
    }
}

article.card:hover {
    /* box-shadow: 0.5rem 0.5rem 0 var(--card-hover-shadow); */
}




.card-name-date-wrapper {
    height: min-content;
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    font-size: 5vmin;
    @media screen and (hover) {
        font-size: 1rem;
        /* gap: var(--card-padding-desktop); */
    }
}

.card-name {
    min-width: 45vmin;
    flex-basis: 1;
    @media screen and (hover) {
        min-width: calc(60% - var(--card-padding-desktop));
    }
}

.card-name p {
    width: 38vmin;
    @media screen and (hover) {
        max-width: 12em;
    }
}

.card-date {
    min-width: 31vmin;
    @media screen and (hover){
        min-width: 10rem;
    }
}

.card-date p {
    max-width: 26vmin;
    @media screen and (hover) {
        max-width: 10rem;
    }
}





.card h2 {
    font-size: 5vmin;
    padding-bottom: 2vmin;
    /* color: var(--text-h2); */
    @media screen and (hover) {
        font-size: 1.3rem;
        padding-bottom: 0.5rem;
    }
}

.card p {
}
.card-name-or-date > * {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hide-on-phones {
    display: none;
    @media screen and (hover) {
        display: unset;
    }
}

h2.nickname {
    padding-bottom: var(--card-padding-mobile);
    @media screen and (hover) {
        padding-bottom: var(--card-padding-desktop);
    }
}


.card-date p:first-of-type {
    /* text-decoration: underline 2px solid var(--underline); */
    text-underline-offset: 0.2rem;
}

.outcome-number {
    font-weight: bold;
    font-size: 4.5vmin;
    @media screen and (hover) {
        font-size: 1.2em;
    }
}







.bottom-row-of-card {
    display: flex;
    justify-content: space-between;
    align-items: end;
}

.bottom-row-of-card svg {
    height: 7vmin;
    width: auto;
    /* stroke: var(--trashcan); */
    position: relative;
    bottom: -3vmin;
    /* cursor: pointer; */
    @media screen and (hover) {
        height: 1.8rem;
        bottom: -0.5rem;
    }
}

.card-notes {
    padding: 1rem 0 0 0;
    font-style: italic;
}

.number-bkgd {
    font-family: "Times New Roman", serif;
    font-weight: bold;
    position: absolute;
    font-size: 46vmin;
    letter-spacing: -6vmin;
    /* opacity: 0.05; */
    @media screen and (hover) {
        font-size: 12rem;
        letter-spacing: -1.5rem;
        /* opacity: 0.03;         */
    }
}
.number-bkgd span:last-child {
    position: relative;
}

.nameless-bkgd {
    bottom: -12vmin;
    right: 42vmin;
    @media screen and (hover) {
        bottom: -3rem;
        right: 13rem;
    }
}
.nameless-bkgd span:last-child {
    bottom: 10vmin;
    right: -4vmin;
    @media screen and (hover) {
        bottom: 2.5rem;
        right: -1rem;
    }
}
.dateless-bkgd {
    top: -14vmin;
    right: 14vmin;
    @media screen and (hover) {
        top: -3.5rem;
        right: 5rem;
    }
}

.dateless-bkgd span:last-child {
    top: 10vmin;
    right: -4vmin;
    @media screen and (hover) {
        top: 2.5rem;
        right: -1rem;
    }
}



/* AddARecordBtn.css */

.desktop-add-record {
    display: none;
    @media screen and (hover) {
        display: block;
        width: 26rem;
        left: unset;
        margin: 0 auto;
    }
}

.mobile-add-record {
    position: fixed;
    /* width: 60vw;
    left: 20vw; */
    width: 90vw;
    left: 5vw;
    bottom: 2.5rem;
    /* box-shadow: 0.4rem 0.4rem 0 var(--button-border); */
    transform: translateZ(1px);
    transform-style: preserve-3d;
    @media screen and (hover) {
        display: none;
    }
}

.mobile-add-record:after {
    content: "";
    position: absolute;
    width: 110vw;
    height: calc(10vw + 4.5rem);
    top: -1rem;
    left: -10vw;
    /* background-color: var(--bkgd); */
    /* border-radius: 4rem; */
    transform: translateZ(-1px);
}

.mobile-add-record:hover, .mobile-add-record:active {
    /* background-color: var(--button-active);
    box-shadow: 0.4rem 0.4rem 0 var(--button-border-active); */
}


/* Form.css */

#enter-record-form {
    position: fixed;
    max-height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
    /* background-color: var(--bkgd-transparent); */
    display: none;
    overflow-y: scroll;
}

form {
    position: relative;
    margin: 0 auto;
    width: 70vw;
    min-height: 100vh;
    padding-top: 1rem;
    padding-bottom: 5rem;
    @media screen and (hover) {
        max-width: 24rem;
    }
}

.close-btn {
    font-size: 10vmin;
    line-height: 9vmin;
    /* cursor: pointer; */
    position: absolute;
    /* color: var(--tooltip); */
    /* border: 1px solid var(--tooltip); */
    top: 1rem;
    right: -10vmin;
    display: flex;
    align-items: top;
    justify-content: center;
    height: 10vmin;
    width: 10vmin;
    @media screen and (hover) {
        height: 2rem;
        width: 2rem;
        right: 0;
        font-size: 2rem;
        line-height: 1.8rem;
    }
}

.close-btn:hover {
    /* color: var(--input);
    border: 1px solid var(--input); */
}

.screen-reader-only {
    display: none;
}
.block-element {
    display: block;
}    

fieldset {
    border: none;
    width: 100%;
}      

fieldset, hr {
    margin-top: 2rem;
}

label {
    font-size: 0.9rem;
}

fieldset > label {
    padding-top: 0.5rem;
}

label, .hidden-options {
    width: 100%;
}
.collapse-btn {
    width: calc(100% - 4rem);
}

input[type="number"] {
    margin-left: 0.5rem;
    padding: 0.2rem;
}

button[type="submit"] {
    width: 100%;
    font-weight: bold;
}

input::placeholder {
    color: var(--input-disabled);
}

input, textarea {
    margin-top: 0.5rem;
    /* background-color: var(--input); */
    /* border: 1px solid var(--input-border); */
    font-size: 1.4rem;
    @media screen and (hover) {
        font-size: 1em;
    }    
}

input:focus, textarea:focus {
    /* background-color: var(--input-focused); */
}

input[type="text"], textarea {
    padding: 0.2rem 0.5rem;
    width: calc(100% - 1rem);
}    

input[type="text"] {
    outline: none;
}

input[type="radio"] {
    margin-right: 0.5rem;
}

form li {
    margin-left: 1.5rem;
}

.checkbox-wrapper {
    position: relative;
    margin-bottom: var(--card-gap-mobile);
    @media screen and (hover) {
        margin-bottom: var(--card-gap-desktop);
    }
}

input[type="checkbox"] {
    position: absolute;
    left: -10vmin;
    top: 0;
    height: 8vmin;
    width: 8vmin;
    @media screen and (hover) {
        height: 1.5rem;
        width: 1.5rem;
        left: -2.5rem;
    }
}

/* input:disabled {background-color: var(--input-disabled);} */
.input-2ch {width: calc(2ch + 1.5rem);}
.input-4ch {width: calc(4ch + 1rem);}
#nickname-label {opacity: 0;}
#customWYinput {opacity: 0;}

.hidden-options {
    padding: 0 1rem;
    display: none;
}

.form-btn {
    width: 50%;
}


/* Tooltip */

.tooltip {
    position: relative;
    display: inline-block;
    /* cursor: pointer; */
    padding: 0 0.3em;
    margin-left: 1rem;
    /* outline: 1px solid var(--tooltip); */
    border-radius: 1rem;
}

/* .tooltip p:first-child {
    color: var(--tooltip);    
} */

.tooltip-hidden {
    visibility: hidden;
    position: absolute;
    top: 0;
    left: -50vw;
    width: 70vw;
    padding: 0.5rem;
    /* border-radius: 1rem; */
    line-height: 1.2rem;

    /* color: var(--color); */
    /* background-color: var(--bkgd); */
    /* border: 3px solid var(--card-border); */
    /* box-shadow: 0 0 0 3rem var(--bkgd-transparent); */
    
    z-index: 1;
    @media screen and (hover) {
        max-width: 24rem;
        left: -12rem;
    }
}

.tooltip:hover .tooltip-hidden {
    visibility: visible;
}



.tooltip-icon {
    /* margin: 0 1rem; */
    /* padding: 0 0.4em; */
    border-radius: 1rem;
} 


/* About  */

#about {
    padding-top: var(--card-gap-mobile);
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;    
    @media screen and (hover) {
        padding-top: var(--card-gap-desktop);
    }
}

.text-contents {
    /* padding-top: var(--card-gap-mobile); */
    position: relative;
    width: 70vw;
    margin: 0 auto;
    @media screen and (hover) {
        max-width: 24rem;
        /* padding-top: var(--card-gap-desktop); */
    }
}

.text-contents h2 {
    padding-top: var(--card-gap-desktop);

}

.text-contents h2, .text-contents p {
    margin-bottom: 1.5rem;
    line-height: 1.5em;
}



/*  Background  */

.bkgd {
    position: absolute;
    min-height: 100%;
    min-width: 100vw;
    overflow: hidden;
    z-index: -3;
    top: 0;
    left: 0;
}

