:root {
    --card-padding-mobile: 5vmin;
    --card-padding-desktop: 1.5rem;
    --card-gap-mobile: 8vmin;
    --card-gap-desktop: 3rem;
}

* {
    margin: 0;
    padding: 0;
}

body {
    position: relative;
    overflow-x: hidden;
    font-family: "Verdana", sans-serif;
}

main {
    position: relative;
    padding: calc(var(--card-gap-mobile) * 2) 0;
    @media screen and (hover) {
        padding: calc(var(--card-gap-desktop) * 2) 0;
    }
}

h1, h2 {
    font-family: "Faculty Glyphic", serif;
}

a {
    width: max-content;
}

button, .collapse-btn {
    margin: 1rem auto;    /* Might not need this line after setting up Header css */
    padding: 0.5rem 2rem;
    text-align: center;
    font-size: 1rem;
    border: none;
    border-radius: 3rem;
}

.cursor-pointer {
    cursor: pointer;
}

.bkgd {
    position: absolute;
    min-height: 100%;
    min-width: 100vw;
    z-index: -3;
    top: 0;
    left: 0;
}