:root {
    --card-padding: 1rem;
    --bkgd: rgb(24, 15, 0);
    --card-bkgd: black;
    --card-border: goldenrod;
    --font-main: rgb(255, 246, 196);
}

body {
    background-color: var(--bkgd);
    font-family: "Georgia", serif;
    color: var(--font-main);
}

.cards-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: var(--card-padding);
}

article.card {
    position: relative;
    width: 22rem;
    padding: var(--card-padding);
    background-color: var(--card-bkgd);
    border-radius: 1rem;
    border: 4px solid var(--card-border);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.top-row-of-card {
    display: flex;
    justify-content: space-between;
    padding-bottom: 0.5rem;
}

.card-name-date-wrapper {
    height: min-content;
    display: flex;
    align-items: flex-end;
    gap: var(--card-padding);
    justify-content: space-between;
}

.card-name-or-date {
    align-content: end;
}

.card h2 {
    font-size: 1.2rem;
    padding-bottom: 0.5rem;
}

h2.nickname {
    padding-bottom: var(--card-padding);
}

.card-name {
    min-width: calc(60% - var(--card-padding));
    flex-basis: 1;
}

.card-date {
    min-width: 40%;
}

span.outcome-number {
    font-size: 1.2rem;
    font-weight: bold;
}

.add-a-date-btn {
    position: absolute;
    bottom: var(--card-padding);
    right: var(--card-padding);
}

.add-btn {
    width: max-content;
    border: 1px solid var(--card-border);
    padding: 0.1rem;
}