.close-btn {
    font-size: 10vmin;
    line-height: 9vmin;
    position: absolute;
    top: 1rem;
    right: 0;    
    display: flex;
    align-items: top;
    justify-content: center;
    height: 10vmin;
    width: 10vmin;
    @media screen and (hover) {
        height: 2rem;
        width: 2rem;
        right: 0;
        font-size: 2rem;
        line-height: 1.8rem;
    }
}

.close-btn.close-btn-form {
    right: -10vmin;
}