footer {
    margin: 0 auto;
    padding: var(--card-gap-mobile) 0 40vmin 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--card-padding-mobile);
    @media screen and (hover) {
        padding: 2rem 0 4rem 0;
        gap: var(--card-padding-desktop);
    }
}

footer a > img, footer a > div {
    text-decoration: none;
}

.logo-110 {
    height: 1.5rem;
    width: 100vw;
    background-image: url(../assets/logo_landing.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0 auto;
    padding: 0;
    @media screen and (min-width: 786px) {
        width: 10rem;
    }
}