#enter-record-form {
    position: fixed;
    height: 100vh;
    width: 100vw;
    /* overflow: hidden; */
    top: 0;
    left: 0;
    background-color: #000000EE;
    display: none;
}

.close-btn {
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 0;
    padding: 0.5rem;
    border: 1px solid var(--card-border);
}

form {
    position: relative;
    /* margin: 2rem auto; */
    margin: 0 auto;
    width: max-content;
    outline: 1px solid red;
    padding: 1rem 2rem;
}

fieldset {
    margin: 2rem 0;
    border: none;
}

.block-element {
    display: block;
}

.screen-reader-only {
    /* clip: rect(0,0,0,0);
    border: 0;
    width: 1px;
    height: 1px;
    margin: -1px;
    overflow: hidden;
    white-space: nowrap; */
    display: none;
}

label, .p-label {
    /* margin-bottom: 1rem; */
    max-width: 28ch;
}

form li {
    margin-left: 2.5rem;
}

input {
    padding: 0.2rem 0.4rem;
    font-size: 1.5em;
    @media screen and (hover) {
        font-size: 1em;
    }
}

input[type="checkbox"] {
    position: relative;
    right: 1.5rem;
    top: 0.5rem;
    height: 1.3rem;
    width: 1.3rem;

}

input:disabled {
    background-color: grey;
}

.input-2ch {
    width: calc(2ch + 1.5rem);
}

.input-4ch {
    width: calc(4ch + 1rem);
}

#nickname-label {
    opacity: 0;
}

