.nightsky {
    --cyan: #6DCBF9;
    --cyan-light: #94D6F6;
    --lavender: #5C66E7;
    --light-lavender: #8088F0;
    --mid-purple: #3624ae;
    --dark-purple: #2e1d99;
    --darkest-purple: #0d082a;
    --darkest-purple-sheer: #0d082aF5;
    --light-magenta: #C450E0;
    --lightest-magenta: hsl(270, 60%, 84%);
    --white-text: #fcedff;
    
    --gold-lightest: #E9DBBA;
    --gold-light: #E8CA84;
    --gold-dark: #D2973B;
    --navy-light: #2F586E;
    --navy-dark: #0D1F2D;
    --navy-darkest: #051016;
    --navy-darkest-sheer: #051016F5;
    
    --bkgd: var(--navy-darkest);
    --card-bkgd: var(--navy-dark);

    --bkgd-transparent: var(--navy-darkest-sheer);
    --border-header-footer: var(--gold-light);
    --color: var(--gold-lightest);
    --text-h2: var(--gold-dark);
    --card-border: var(--gold-dark); 
    --underline: var(--gold-dark);
    --trashcan: var(--gold-light);

    --button-text: var(--gold-lightest);
    --button: var(--navy-light);
    --button-hover: var(--navy-light);
    --button-hover-text: var(--gold-dark);
    --button-active: var(--gold-dark);

    --input: var(--gold-light);
    --input-focused: white;
    --input-disabled: #444444;
    --tooltip: var(--navy-light);

    --link: var(--gold-dark);
    --link-bkgd:;

    --link-visited: var(--gold-light);
    --link-visited-bkgd:;

    --link-hover: var(--gold-lightest);
    --link-hover-bkgd: var(--navy-light);

    --link-active: var(--gold-lightest);
    --link-active-bkgd: var(--gold-dark);

    color: var(--color);

    button, .collapse-btn {
        outline: 2px solid var(--gold-light);
    }

    @media screen and (hover) {
        button:hover, .collapse-btn:hover {
            outline: 2px solid var(--gold-dark);
        }
        button:active, .collapse-btn:active {
            outline: 2px solid var(--gold-lightest);
        }
    }

    h1 {
        color: var(--navy-dark);
        text-shadow: 
            1px 1px 0 var(--gold-dark),
            -1px 1px 0 var(--gold-dark),
            1px -1px 0 var(--gold-dark),
            -1px -1px 0 var(--gold-dark)
        ;
    }

    .bkgd.blurred-stars {
        /* filter: blur(2px); */
    }

    .bkgd.blurred-stars-1 {
        background-image: url(../assets/stars-bkgd-orange.svg);
        background-position: -3.5rem -3.5rem;
        background-size: 34vmin;
        opacity: 0.3;
        @media screen and (hover) {
            background-size: 17rem;
            opacity: 0.15;
        }
    }
    .bkgd.blurred-stars-2 {
        background-image: url(../assets/stars-bkgd-yellow.svg);
        background-size: 20vmin;
        opacity: 0.2;    
        @media screen and (hover) {
            background-size: 10rem;
            opacity: 0.1;
        }
    }
    .bkgd.blurred-stars-3 {
        background-image: url(../assets/stars-bkgd-orange.svg);
        background-size: 14vmin;
        opacity: 0.1;    
        @media screen and (hover) {
            background-size: 7rem;
            opacity: 0.05;
        }
    }

}
