.dark {
    --black: #000000;
    --white: #FFFFFF;
    --contrast-darkest: #031215;
    --contrast-dark: #00596b;
    --contrast-mid: #189ab4;
    --contrast-light: #68c9dd;
    --contrast-lightest: #cff7fe;
    
    color: var(--white);

    /* h1 {
        color: var(--white);
        text-shadow: 4px 4px 0 var(--contrast-dark);
    } */

    h1 {
        color: transparent;
        background: linear-gradient(
            -5deg,
            var(--contrast-lightest),
            var(--white)
        );
        background-clip: text;
        filter: drop-shadow(3px 3px 0 var(--contrast-dark));
    }

    a, .faux-link {
        color: var(--contrast-light);
    }
    .faux-link {
        text-decoration: underline 1px solid var(--contrast-light);
    }
    a:visited {
        color: var(--contrast-mid);
    }
    a:hover, .faux-link:hover {
        color: var(--white);
        background-color: var(--contrast-dark);
    }
    a:active, .faux-link:active {
        background-color: var(--contrast-mid);
    }

    button, .collapse-btn {
        background-color: var(--contrast-light);
        color: var(--black);
        box-shadow: 0.3rem 0.3rem 0 var(--contrast-dark);
    }

    @media screen and (hover) {
        button:hover, .collapse-btn:hover {
            background-color: var(--contrast-lightest);
            box-shadow: 0.3rem 0.3rem 0 var(--contrast-mid);
            color: var(--black);
        }
        button:active, .collapse-btn:active {
            background-color: var(--contrast-dark);
            box-shadow: 0.3rem 0.3rem 0 var(--contrast-mid);
            color: var(--white);
        }
    }

    .color-bkgd {
        background: linear-gradient(
            -15deg,
            var(--black),
            var(--contrast-darkest) 35rem,
            var(--contrast-darkest) calc(100% - 35rem),
            var(--contrast-dark)
        );
    }



    header {
        background-color: var(--black);
        border-bottom: 3px solid var(--contrast-dark);
    }
    .sort-wrapper {
        border: 1px solid rgb(from var(--white) r g b / 0.6);
    }
    select {
        background-color: var(--contrast-lightest);
    }
    footer {
        background-color: var(--black);
        border-top: 2px solid var(--contrast-dark);
    }




    article.card {
        background-color: var(--black);
        border: 0.5rem solid var(--white);
        box-shadow: 0.5rem 0.5rem 0 var(--contrast-dark);
    }

    article.card:hover {
        box-shadow: 0.5rem 0.5rem 0 var(--contrast-mid);
    }

    .card h2 {
        color: rgb(from var(--white) r g b / 0.6);
    }
    .card-date p:first-of-type {
        text-decoration: underline 2px solid var(--contrast-dark);
    }

    span.outcome-number {
        text-decoration: underline 2px solid var(--black);
    }

    .bottom-row-of-card svg {
        stroke: rgb(from var(--white) r g b / 0.3);
    }


.number-bkgd {
    opacity: 0.1;
    @media screen and (hover) {
        opacity: 0.05;        
    }
}


    .mobile-add-record {
        box-shadow: 0.4rem 0.4rem 0 var(--contrast-dark);
    }

    .mobile-add-record:after {
        background-color: var(--black);
    }

    .mobile-add-record:hover, .mobile-add-record:active {
        background-color: var(--contrast-dark);
        box-shadow: 0.4rem 0.4rem 0 var(--contrast-mid);
    }



    #enter-record-form {
        background-color: rgb(from var(--black) r g b / 0.95);
    }
    .close-btn {
        color: var(--contrast-light);
        border: 1px solid var(--contrast-light);
    }

    .close-btn:hover {
        color: var(--contrast-lightest);
        border: 1px solid var(--contrast-lightest);
    }
    input, textarea {
        background-color: var(--contrast-lightest);
        border: 1px solid var(--input-border);
    }

    input:focus, textarea:focus {
        background-color: var(--white);
        outline: 2px solid var(--contrast-mid);
    }

    input:disabled {background-color: grey;}

    .tooltip {
        outline: 1px solid var(--contrast-light);
    }

    .tooltip p:first-child {
        color: var(--contrast-light);    
    }

    .tooltip-hidden {
        background-color: var(--black);
        border: 3px solid var(--white);
        box-shadow: 0 0 0 3rem rgb(from var(--black) r g b / 0.9);
    }

    #about {
        background: linear-gradient(
            -10deg,
            var(--black),
            var(--contrast-darkest) 30%,
            var(--contrast-darkest) 70%,
            var(--contrast-dark) 105%
        );

    }
}
