.light {
    --white: #FFFFFF;
    --black: #000000;
    --contrast-darkest: #031215;
    --contrast-dark: #00596b;
    --contrast-mid: #189ab4;
    --contrast-light: #68c9dd;
    --contrast-lightest: #cff7fe;
    
    color: var(--black);


    a {
        color: var(--contrast-dark);
        background-color: var(--link-bkgd);
    }
    a:visited {
        color: var(--contrast-mid);
        background-color: var(--link-visited-bkgd);
    }
    a:hover {
        color: var(--white);
        background-color: var(--contrast-light);
    }
    a:active {
        color: var(--link-active);
        background-color: var(--contrast-mid);
    }

    button, .collapse-btn {
        background-color: var(--contrast-dark);
        color: var(--white);
        box-shadow: 0.3rem 0.3rem 0 var(--contrast-light);
    }

    @media screen and (hover) {
        button:hover, .collapse-btn:hover {
            background-color: var(--contrast-darkest);
            box-shadow: 0.3rem 0.3rem 0 var(--contrast-dark);
            color: var(--white);
        }
        button:active, .collapse-btn:active {
            background-color: var(--contrast-light);
            box-shadow: 0.3rem 0.3rem 0 var(--contrast-mid);
            color: var(--white);
        }
    }

    .color-bkgd {
        background-color: var(--contrast-lightest);
    }



    header {
        background-color: var(--white);
        border-bottom: 3px solid var(--contrast-light);
    }
    .sort-wrapper {
        border: 1px solid var(--contrast-light);
    }
    select {
        background-color: var(--contrast-lightest);
    }
    footer {
        background-color: var(--black);
        border-top: 2px solid var(--contrast-light);
    }




    article.card {
        background-color: var(--white);
        border: 0.5rem solid var(--contrast-dark);
        box-shadow: 0.5rem 0.5rem 0 var(--contrast-light);
    }

    article.card:hover {
        box-shadow: 0.5rem 0.5rem 0 var(--contrast-mid);
    }

    .card h2 {
        color: rgb(from var(--black) r g b / 0.6);
    }
    .card-date p:first-of-type {
        text-decoration: underline 2px solid var(--contrast-light);
    }

    span.outcome-number {
        /* text-decoration: underline 2px solid var(--black); */
    }

    .bottom-row-of-card svg {
        stroke: rgb(from var(--black) r g b / 0.4);
    }

    .number-bkgd {
        opacity: 0.05;
        @media screen and (hover) {
            opacity: 0.05;        
        }
    }


    .mobile-add-record {
        box-shadow: 0.4rem 0.4rem 0 var(--contrast-light);
    }

    .mobile-add-record:after {
        background-color: var(--black);
    }

    .mobile-add-record:hover, .mobile-add-record:active {
        background-color: var(--contrast-light);
        box-shadow: 0.4rem 0.4rem 0 var(--contrast-mid);
    }



    #enter-record-form {
        background-color: rgb(from var(--white) r g b / 0.95);
    }
    .close-btn {
        color: var(--contrast-darkest);
        border: 1px solid var(--contrast-darkest);
    }

    .close-btn:hover {
        color: var(--contrast-mid);
        border: 1px solid var(--contrast-mid);
    }
    input, textarea {
        background-color: var(--contrast-lightest);
        border: 1px solid var(--contrast-mid);
    }

    input:focus, textarea:focus {
        background-color: var(--white);
        border: 1px solid var(--contrast-dark);
    }

    input:disabled {background-color: hsl(from var(--contrast-light) h 10% l);}

    .tooltip {
        outline: 1px solid var(--contrast-dark);
    }

    .tooltip p:first-child {
        color: var(--contrast-dark);    
    }

    .tooltip-hidden {
        background-color: var(--black);
        border: 3px solid var(--white);
        box-shadow: 0 0 0 3rem rgb(from var(--black) r g b / 0.9);
    }

    button[type="submit"] {
        border: 2px solid var(--contrast-darkest);
    }

    h1 {
        color: var(--contrast-mid);
        text-shadow: 4px 4px 0 var(--black);
        /* color: transparent;
        background: linear-gradient(
            -5deg,
            var(--green-dark),
            var(--green-main) 70%,
            var(--green-light) 80%
        );
        background-clip: text;
        filter: drop-shadow(3px 3px 0 var(--green-light)); */

    }


}